@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    color: #333333;
}

header {
    padding: 30px 70px 30px 70px;
}

a.nav-brand {
    font-family: Lato, "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 27px;
    font-weight: 700;
    color: inherit;
}

a:hover.nav-brand {
    border-bottom: 3px solid #373737;

    -webkit-transition: border 300ms ease;
    -moz-transition: border 300ms ease;
    -ms-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease;
}

textarea {
    border: none;
    overflow: auto;
    resize: none;
}

textarea:focus {
    outline: none;
}

.title {
    margin: 0;
    padding: 80px 240px 0 240px;
}

.title-text {
    font-family: Lato, Helvetica Neue, sans-serif;
    font-size: 48px;
    line-height: 65%;
}

.content {
    margin: 0;
    padding: 30px 240px 70px 240px;
}

footer {
    padding: 50px;
}

footer a {
    font-family: Lato, "Open Sans", sans-serif;
    font-weight: 300;
    float: right;
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}